@import "../../styles/responsive.module.scss";

.friendPage {
    display: grid;
    height: 100vh;
    grid-template-columns: 70px 340px auto;


    @include mobile {
        grid-template-columns: 70px auto;
    }

    .friendList {
        border-right: 1px solid #ccc;
    }
}