.HeaderTabTwo {
    display: grid;
    border-bottom: 1px solid #ccc;
    grid-template-columns: auto 30px 30px;
    padding: 10px;
}

.input {

    input {
        border: none;
        background-color: #eaedf0;
        padding: 3px 10px;
        width: 100%;
        border-radius: 5px;

        &:focus {
            outline-color: #8bbae9;
            background-color: #fff;
        }
    }

}

.iconAddFriend {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 32px;
    // width: 32px;

    // &:hover {
    //     background-color: #eaedf0;
    // }
}

.iconAddGroup {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 32px;
    // width: 32px;

    span {
        font-weight: 600;
        font-size: 13px;
    }

    // &:hover {
    //     background-color: #eaedf0;
    // }
}