@import '../../../styles/global.module.scss';

.navbar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    height: 100%;
}


.navbarMain {
    flex: 1;
    margin-top: 50px;
}

.link {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;


    &[data-active] {

        &,
        &:hover {
            color: $primary-color;
        }
    }
}

.section {
    left: 100px;
}