.messageLeft {
    padding-top: 5px;

    .containerLeft {
        display: flex;
        justify-content: center;
        padding: 0 5px;
        padding-top: 5px;
        width: 40px;
        margin-right: 5px;
    }

    .content {
        padding: 5px 10px;
        background-color: #ECECEC;
        border-radius: 5px;
        width: fit-content;
        max-width: 75%;
    }

    .containerFileLeft {
        border-radius: 5px;
        background-color: #D1D5DB;

    }

    .footerDate {
        color: #555;
        font-size: 13px;
        font-weight: 600;
    }


    .contentImage {
        width: fit-content;
        word-wrap: break-word;
        margin-top: 3px;
        min-width: 100px;
        overflow-y: hidden;
        border-radius: 15px;

        .messageImage {
            max-width: 75%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.messageLeftDark {
    padding-top: 5px;

    .footerDate {
        color: #fff;
    }

    .containerFileLeft {
        background-color: #2F3431;
    }

    .content {
        padding: 10px 15px;
        background-color: #2F3431;
        border-radius: 3px;
        word-wrap: break-word;

    }
}